**/.dockerignore
**/.git
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/publish
**/out
**/node_modules
**/*.md
**/*.log
**/Thumbs.db
**/.DS_Store
**/.env
**/.env.*
**/appsettings.Development.json
**/appsettings.Local.json
