{
  "openapi": "3.0.2",
  "info": {
    "version": "3.2.0 - 25/02/2026",
    "title": "İYS API",
    "description": "Bu doküman İYS API canlı ve test ortamlarına ilişkin veriler içermektedir. İYS API'yi kullanabilmek için canlı ve test hesapları oluşturmanız, __kullanıcı adı__ ve __şifre__ almanız gerekmektedir. <a href=\"https://hs.iys.org.tr\">İYS Web</a> üzerinden Hesap Sahibi veya Hesap Yöneticisi e-devlet bilgileri ile giriş sağlayarak API canlı ve test hesabı oluşturabilirsiniz.        ",
    "termsOfService": "https://iys.org.tr/api-terms/",
    "contact": {
      "name": "İleti Yönetim Sistemi",
      "url": "https://iys.org.tr"
    },
    "license": {
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html",
      "name": "Apache 2.0"
    },
    "x-logo": {
      "url": "https://cdn.iys.org.tr/assets/img/logo/iys-logo.svg"
    }
  },
  "servers": [
    {
      "url": "https://api.sandbox.iys.org.tr/",
      "description": "Sandbox Server"
    }
  ],
  "paths": {
    "/oauth2/token": {
      "post": {
        "tags": [
          "KİMLİK YÖNETİMİ"
        ],
        "summary": "Jeton Alma / Yenileme",
        "description": "Kullanıcıları İYS uygulamasını kullanabilmeleri için ihtiyaç duyacakları access_token parametresini bu metot\naracılığıyla alabilirler. Metot, OAuth2 standartlarına göre form girisi de kabul ettiği gibi JSON gövdesiyle gönderilen istekleri de işleyebilir.\n\nJeton alma servisine bir IP adresinden saatte en fazla 10 istek yapılabilir.",
        "operationId": "createToken2",
        "requestBody": {
          "description": "Token isteği.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Oauth2Request"
              },
              "examples": {
                "JSON login with password": {
                  "value": {
                    "username": "mehmetyilmaz@sirketepostam.com",
                    "password": "****",
                    "grant_type": "password"
                  }
                },
                "JSON login with refresh-token": {
                  "value": {
                    "grant_type": "refresh_token",
                    "refresh_token": "eyJhbGciOiJIUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJiYmUwODIyNS02MzQ2LTRmOTctYWIyNy02ZDZiMjRhYWJmMzMifQ..991OfAy5YNkL9QAF-_DnYPf0lwwpdU-PkuKWpBo9F1I"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Oauth2Request"
              },
              "examples": {
                "Form login with password": {
                  "value": {
                    "username": "mehmetyilmaz@sirketepostam.com",
                    "password": "****",
                    "grant_type": "password"
                  }
                },
                "Form login with refresh-token": {
                  "value": {
                    "grant_type": "refresh_token",
                    "refresh_token": "eyJhbGciOiJIUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJiYmUwODIyNS02MzQ2LTRmOTctYWIyNy02ZDZiMjRhYWJmMzMifQ..991OfAy5YNkL9QAF-_DnYPf0lwwpdU-PkuKWpBo9F1I"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Kullanıcı için jeton isteği başarılı.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Oauth2Response"
                },
                "examples": {
                  "success": {
                    "value": {
                      "access_token": "eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI2TFN1Rk9NaWRkYzUydElWdXRMbkFJWXUtcGdCZlBIUGF5eTVfMURRREs0In0.eyJqdGkiOiJlYzUwNGQyYi1lYzZkLTQzNDItOGNhZC0zNmE1ZTE3YzBkYWUiLCJleHAiOjE2MTU1NjAwMTAsIm5iZiI6MCwiaWF0IjoxNTg0MDI0M DEwLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwODAvYXV0aC9yZWFsbXMvaW50ZWdyYXRvciIsInN1YiI6IjJhN2Q2YzQzLWI5MzctNGQyNy04Y2FiLWEwMzExMzE5M2JlYSIsInR5cCI6IkJlYXJlciIsImF6cCI6ImludGVncmF0b3ItY2xpZW50IiwiYXV0aF90aW1lIjowLCJzZXNzaW9uX3N0YXRlIjoiNDI2ZTk2O DEtYTlmZi00ZTcyLThhMGUtNGUwNjQ1OWY2NGJiIiwiYWNyIjoiMSIsInNjb3BlIjoiZW1haWwgcHJvZmlsZSIsImFsbCI6WyJ7XCJuYW1lXCI6XCJJbnRlZ3JhdG9yIHVzZXJcIixcInRja25cIjpcIjEyMzI1Njg0NjVcIixcImVtYWlsXCI6XCJpbnRlZ3JhdG9yQGludGVncmF0b3IuY29tLnRyXCIsXCJtb2JpbGVcI jpcIjA1Mzc0NTM5Mzg1XCIsXCJyb2xlXCI6XCJvd25lclwifSJdLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwidXNlclR5cGUiOiJpbnRlZ3JhdG9yIiwicHJlZmVycmVkX3VzZXJuYW1lIjoiaW50ZWdyYXRvckBpbnRlZ3JhdG9yLmNvbS50ciJ9.n1at8u-qZixXWtCWaWdaSUd9M39CmkZ2mbwL02Hc107_Ti8jcCUwnwbb IqRpLthLvZKN6h2GP57BfzpeDyVEoiVgOC4Dww5WIdtaI-IsGX9Jvj0AflxePXXmGy--W9wcTDba_cQaoo0F7aIXCl69IpVGYzr0q-yp3U96bAVN7Qh1ApIQ51t5JqnSdV-kBoFu3lM_egsU1GrBvtTcdOV71pt3oQ0OG5pRSqUguhsuf5BBHursFhRrdTDs9Raca6fdyg2jr6Ul-y7WBOZDc7lT8Pcgsi2eCiclgPlP_amp7 cv0c8urSLDz_Q-ea4FZUMpn6rrGhwCWrMGk4d3N09PB-A",
                      "refresh_token": "eyJhbGciOiJIUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICIwYTVkMGE5Yy1kYTM5LTQ5NTctYTNhOS02NjNiNDhkMmM1M2QifQ.eyJqdGkiOiI2ZDdiNGJmMi0wNzRkLTRhMjYtODkzYS1mZGU0MjI2OTBmNTAiLCJleHAiOjE2MTU1NjAwMTAsIm5iZiI6MCwiaWF0IjoxNTg0MDI0MDEwLCJpc3 MiOiJodHRwOi8vbG9jYWxob3N0OjgwODAvYXV0aC9yZWFsbXMvaW50ZWdyYXRvciIsImF1ZCI6Imh0dHA6Ly9sb2NhbGhvc3Q6ODA4MC9hdXRoL3JlYWxtcy9pbnRlZ3JhdG9yIiwic3ViIjoiMmE3ZDZjNDMtYjkzNy00ZDI3LThjYWItYTAzMTEzMTkzYmVhIiwidHlwIjoiUmVmcmVzaCIsImF6cCI6ImludGVncmF0b3It Y2xpZW50IiwiYXV0aF90aW1lIjowLCJzZXNzaW9uX3N0YXRlIjoiNDI2ZTk2ODEtYTlmZi00ZTcyLThhMGUtNGUwNjQ1OWY2NGJiIiwic2NvcGUiOiJlbWFpbCBwcm9maWxlIn0.n6FeIeAVSQFSQYDAkLdRxUNin6nRBsbnRd6WurUrhqE",
                      "expires_in": 7200,
                      "refresh_expires_in": 14400,
                      "token_type": "bearer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Giriş işlemi gerçekleştirilmeden önce istemci tarafından gönderilen parametreler kontrol edilip\ndoğrulanır. Doğrulama aşamasında eksik ya da beklenenin dışında parametre tespit edilmesi\ndurumunda 400 hata koduyla hangi parametrenin hatalı olduğu bilgisi istemciye döndürülür.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bad2Request"
                },
                "examples": {
                  "missing grant_type": {
                    "value": {
                      "error": "invalid_request",
                      "error_description": "Giriş yöntemi belirtilmemiş."
                    }
                  },
                  "unknown grant_type": {
                    "value": {
                      "error": "invalid_request",
                      "error_description": "Bilinmeyen giriş yöntemi."
                    }
                  },
                  "empty grant_type": {
                    "value": {
                      "error": "invalid_grant",
                      "error_description": "Giriş yöntemi boş olamaz."
                    }
                  },
                  "unsupported grant_type": {
                    "value": {
                      "error": "invalid_grant",
                      "error_description": "Desteklenmeyen giriş yöntemi."
                    }
                  },
                  "missing refresh_token": {
                    "value": {
                      "error": "invalid_request",
                      "error_description": "Yenileme jetonu verilmemiş."
                    }
                  },
                  "empty refresh_token": {
                    "value": {
                      "error": "invalid_request",
                      "error_description": "Desteklenmeyen yenileme jetonu türü."
                    }
                  },
                  "unsupported refresh_token": {
                    "value": {
                      "error": "invalid_grant",
                      "error_description": "Yenileme jetonu boş olamaz."
                    }
                  },
                  "missing password": {
                    "value": {
                      "error": "invalid_request",
                      "error_description": "Şifre verilmemiş."
                    }
                  },
                  "empty password": {
                    "value": {
                      "error": "invalid_request",
                      "error_description": "Desteklenmeyen şifre türü."
                    }
                  },
                  "unsupported password": {
                    "value": {
                      "error": "invalid_grant",
                      "error_description": "Şifre boş bırakılamaz."
                    }
                  },
                  "missing username": {
                    "value": {
                      "error": "invalid_request",
                      "error_description": "Kullanıcı adı verilmemiş."
                    }
                  },
                  "empty username": {
                    "value": {
                      "error": "invalid_request",
                      "error_description": "Desteklenmeyen kullanıcı adı türü."
                    }
                  },
                  "unsupported username": {
                    "value": {
                      "error": "invalid_grant",
                      "error_description": "Kullanıcı adı boş bırakılamaz."
                    }
                  },
                  "invalid credentials": {
                    "value": {
                      "error": "invalid_request",
                      "error_description": "Kullanıcı kimlik bilgileri geçersiz."
                    }
                  },
                  "unexpectedUserRole": {
                    "value": {
                      "error": "invalid_request",
                      "error_description": "Beklenmeyen kullanıcı rolü: admin."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Sunucu tarafında beklenmeyen bir hata meydana gelmesi sonucunda döndürülecek cevaptır.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsArrayCode"
                },
                "examples": {
                  "unknownError": {
                    "value": {
                      "errors": [
                        {
                          "message": "Beklenmedik bir hata oluştu!",
                          "code": "H015"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.sandbox.iys.org.tr/",
            "description": "Sandbox Server"
          }
        ]
      }
    },
    "/sps/{iysCode}/brands": {
      "get": {
        "tags": [
          "MARKA YÖNETİMİ"
        ],
        "summary": "Marka Listeleme",
        "description": "Bu metotla hizmet sağlayıcı hesabınızın altında bulunan markalarınızın listesi elde edilir.\n\nİYS numaranız, path parametresinde yer alacak şekilde istek gönderilmelidir.\n\nMarkalarınızın İYS numaraları, isimleri, ana marka/alt marka durumları ve izinlerinizin istatistiksel bilgileriyle, markalara bağlı bayi sayılarının cevabı döner.\n",
        "operationId": "getBrandsDetails",
        "parameters": [
          {
            "name": "iysCode",
            "in": "path",
            "description": "Hizmet sağlayıcıya özel, İYS tarafından tekil olarak atanan İYS numarası bilgisidir.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "İşlem Başarılı.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "brandCode": {
                      "type": "integer",
                      "description": "Hizmet sağlayıcının markasına özel, İYS tarafından tekil olarak atanan İYS numarası bilgisidir."
                    },
                    "name": {
                      "type": "string",
                      "description": "Marka ismi"
                    },
                    "master": {
                      "type": "boolean",
                      "description": "Markanın ana marka olup olmadığı bilgisi"
                    },
                    "stats": {
                      "$ref": "#/components/schemas/BrandStats"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": [
                      {
                        "brandCode": 545454,
                        "stats": {
                          "consents": {
                            "approval": 22,
                            "rejection": 0,
                            "total": 22
                          },
                          "retailers": {
                            "total": 4
                          }
                        },
                        "name": "test Marka 1",
                        "master": true
                      },
                      {
                        "brandCode": 545455,
                        "stats": {
                          "consents": {
                            "approval": 0,
                            "rejection": 0,
                            "total": 0
                          },
                          "retailers": {
                            "total": 0
                          }
                        },
                        "name": "test Alt Marka 2",
                        "master": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Jeton geçersiz",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedException"
                },
                "examples": {
                  "missingToken": {
                    "value": {
                      "errors": [
                        {
                          "message": "Eksik veya geçersiz jeton!",
                          "code": "H351"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Yetkilendirme dışı erişim isteği.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IysCodeNotMatch"
                },
                "examples": {
                  "iysCodeNotMatch": {
                    "value": {
                      "errors": [
                        {
                          "code:": "H353",
                          "message": "iysCode, kullanıcı izinleriyle eşleştiriliemiyor"
                        }
                      ]
                    }
                  },
                  "subscriptionStatusClosed": {
                    "value": {
                      "errors": [
                        {
                          "message": "Abonelik durumu CLOSED iken api kullanılamamaktadır.",
                          "code": "H521"
                        }
                      ]
                    }
                  },
                  "subscriptionNotFound": {
                    "value": {
                      "errors": [
                        {
                          "message": "{{iysCode}} için ait abonelik kaydı bulunamadı.",
                          "code": "H524"
                        }
                      ]
                    }
                  },
                  "subscriptionStatusPausedOrExpired": {
                    "value": {
                      "errors": [
                        {
                          "message": "Abonelik durumu {{PAUSED|EXPIRED}} iken sadece {{HS|Entegratör}} abonelik sorgulama servisine istek atılabilir.",
                          "code": "H520"
                        }
                      ]
                    }
                  },
                  "packageControl": {
                    "value": {
                      "errors": [
                        {
                          "message": "Aboneliğiniz API kullanımını içermemektedir.",
                          "code": "H586"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Marka bulunamadı.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCodeWithMessage"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "errors": [
                        {
                          "message": "Hizmet Sağlayıcı:{{iysCode}} bulunamadı.",
                          "code": "H001"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Maksimum istek sayısı aşıldı.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCodeWithMessage"
                },
                "examples": {
                  "Maksimum istek sayısı aşıldı.": {
                    "value": {
                      "errors": [
                        {
                          "code": "H124",
                          "message": "Saniyede kabul edilen istek limitine ulaşıldı. Lütfen daha sonra tekrar deneyiniz."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Beklenmedik bir hata oluşması.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsArrayCode"
                },
                "examples": {
                  "unexpectedError": {
                    "value": {
                      "errors": [
                        {
                          "message": "Beklenmedik bir hata oluştu!",
                          "code": "H015"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "IYSAPISecurity": []
          }
        ],
        "servers": [
          {
            "url": "https://api.sandbox.iys.org.tr/",
            "description": "Sandbox Server"
          }
        ]
      }
    },
    "/sps/{iysCode}/brands/{brandCode}/consents": {
      "post": {
        "tags": [
          "İZİN YÖNETİMİ"
        ],
        "summary": "Tekil İzin Ekleme",
        "description": "Alıcıdan alınan tek **bir** izni kaydeder. Çoklu kayıt işlemleri için [Asenkron Çoklu İzin Ekleme](#operation/addBatchConsent) metodu kullanılmalıdır.\r\n\r\n`Önemli Not:`\r\n\r\nTelefon numarası +905XXXXXXXXX formatında olmalıdır. Yanlış formatta (+9005XXXXXXXXX) eklenen numaralar:\r\n\r\nİYS Vatandaş uygulamasında görüntülenmez.\r\n\r\nAracı hizmet sağlayıcı sorgulama yaparken doğru formatta (+905XXXXXXXXX) kontrol ettiğinden, izin kaydı bulunamaz ve sms gönderimi yapılamaz.\r\n\r\n Telefon numarası eklenirken formatın +905XXXXXXXXX şeklinde olduğundan emin olunmalıdır.",
        "operationId": "addConsent",
        "parameters": [
          {
            "name": "iysCode",
            "in": "path",
            "description": "Hizmet sağlayıcıya özel, İYS tarafından tekil olarak atanan İYS numarası bilgisidir.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "brandCode",
            "in": "path",
            "description": "Hizmet sağlayıcının markasına özel, İYS tarafından tekil olarak atanan İYS numarası bilgisidir.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Consent"
              },
              "examples": {
                "AddOneConsentRequest": {
                  "value": {
                    "consentDate": "2020-07-08 07:07:07",
                    "source": "HS_CAGRI_MERKEZI",
                    "recipient": "ornekeposta@ornekeposta.com",
                    "recipientType": "BIREYSEL",
                    "status": "ONAY",
                    "type": "EPOSTA",
                    "retailerCode": 55550127,
                    "retailerAccess": [
                      58795354,
                      30143398
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "İzin ekleme işlemi başarılı.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddConsentResponseMessage"
                },
                "examples": {
                  "AddSingleConsentResponse": {
                    "value": {
                      "transactionId": "162cc155429fdccd7f2be8e9482aa322993ff210c2923fb84e8ed0fb1902ae21",
                      "creationDate": "2020-08-06 15:50:23"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "İzin ekleme için yapılan istek hatalı.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCodeWithMessage"
                },
                "examples": {
                  "unknownError": {
                    "value": {
                      "errors": [
                        {
                          "code": "H085",
                          "message": "İzin ekleme isteği geçerli olmalıdır."
                        }
                      ]
                    }
                  },
                  "retailerCodeEmpty": {
                    "value": {
                      "errors": [
                        {
                          "message": "retailerCode değeri boş string olmamalıdır!",
                          "code": "H267"
                        }
                      ]
                    }
                  },
                  "initialConsentRetErrorAddOneConsentRequest": {
                    "value": {
                      "errors": [
                        {
                          "code": "H175",
                          "message": "İlk defa kaydedilen bir iznin durum (status) bilgisi RET olmamalıdır."
                        }
                      ]
                    }
                  },
                  "retOverrideErrorAddOneConsentRequest": {
                    "value": {
                      "errors": [
                        {
                          "code": "H174",
                          "message": "İzin durumu (status) güncellemesi için farklı bir durum girilmelidir. İzin durumu: RET"
                        }
                      ]
                    }
                  },
                  "wrongConsentDate": {
                    "value": {
                      "errors": [
                        {
                          "code": "H178",
                          "message": "Sistemdeki iznin tarihinden önceki tarihli izinlerle güncelleme yapılamaz."
                        }
                      ]
                    }
                  },
                  "secondUpdateTACIRsourceRequirement": {
                    "value": {
                      "errors": [
                        {
                          "code": "H463",
                          "message": "TACIR izinleri güncellenirken izin kaynağı (source) verilmelidir."
                        }
                      ]
                    }
                  },
                  "secondUpdateTACIRconsentDateRequirement": {
                    "value": {
                      "errors": [
                        {
                          "code": "H462",
                          "message": "TACIR izinleri güncellenirken izin tarihi (consentDate) verilmelidir."
                        }
                      ]
                    }
                  },
                  "threeDay": {
                    "value": {
                      "errors": [
                        {
                          "code": "H467",
                          "message": "Üç iş günü öncesinde alınan izinler kaydedilemez."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Eksik veya geçersiz jeton.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedException"
                },
                "examples": {
                  "missingToken": {
                    "value": {
                      "errors": [
                        {
                          "message": "Eksik veya geçersiz jeton!",
                          "code": "H351"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Yetkilendirme dışı erişim isteği",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IysCodeNotMatch"
                },
                "examples": {
                  "iysCodeNotMatched": {
                    "value": {
                      "errors": [
                        {
                          "code:": "H353",
                          "message": "iysCode, kullanıcı izinleriyle eşleştiriliemiyor"
                        }
                      ]
                    }
                  },
                  "brandCodeNotMatched": {
                    "value": {
                      "errors": [
                        {
                          "code:": "H353",
                          "message": "brandCode, kullanıcı izinleriyle eşleştiriliemiyor"
                        }
                      ]
                    }
                  },
                  "retailerCodeNotMatched": {
                    "value": {
                      "errors": [
                        {
                          "code:": "H353",
                          "message": "retailerCode, kullanıcı izinleriyle eşleştiriliemiyor"
                        }
                      ]
                    }
                  },
                  "retailerCodeNotFound": {
                    "value": {
                      "errors": [
                        {
                          "code": "H180",
                          "message": "retailerCode kullanıcı üzerinde bulunamadı.",
                          "location": [
                            "retailerAccess",
                            0
                          ],
                          "value": 12786531
                        }
                      ]
                    }
                  },
                  "subscriptionStatusClosed": {
                    "value": {
                      "errors": [
                        {
                          "message": "Abonelik durumu CLOSED iken api kullanılamamaktadır.",
                          "code": "H521"
                        }
                      ]
                    }
                  },
                  "subscriptionNotFound": {
                    "value": {
                      "errors": [
                        {
                          "message": "{{iysCode}} için ait abonelik kaydı bulunamadı.",
                          "code": "H524"
                        }
                      ]
                    }
                  },
                  "subscriptionStatusPausedOrExpired": {
                    "value": {
                      "errors": [
                        {
                          "message": "Abonelik durumu {{PAUSED|EXPIRED}} iken sadece {{HS|Entegratör}} abonelik sorgulama servisine istek atılabilir.",
                          "code": "H520"
                        }
                      ]
                    }
                  },
                  "packageControl": {
                    "value": {
                      "errors": [
                        {
                          "message": "Aboneliğiniz API kullanımını içermemektedir.",
                          "code": "H586"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Hatalı izin ekleme isteği.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentError"
                },
                "examples": {
                  "OneConsentRequestMissingType": {
                    "value": {
                      "errors": [
                        {
                          "location": [
                            "type"
                          ],
                          "code": "H111",
                          "message": "İzin tipi (type) bulunamadı."
                        }
                      ]
                    }
                  },
                  "OneConsentRequestMissingSource": {
                    "value": {
                      "errors": [
                        {
                          "location": [
                            "source"
                          ],
                          "code": "H113",
                          "message": "İzin kaynağı (source) bulunamadı."
                        }
                      ]
                    }
                  },
                  "OneConsentRequestMissingRecipient": {
                    "value": {
                      "errors": [
                        {
                          "location": [
                            "recipient"
                          ],
                          "code": "H114",
                          "message": "Alıcı (recipient) bulunamadı."
                        }
                      ]
                    }
                  },
                  "OneConsentRequestMissingStatus": {
                    "value": {
                      "errors": [
                        {
                          "location": [
                            "status"
                          ],
                          "code": "H110",
                          "message": "Durum (status) bulunamadı."
                        }
                      ]
                    }
                  },
                  "OneConsentRequestMissingConsentDate": {
                    "value": {
                      "errors": [
                        {
                          "location": [
                            "consentDate"
                          ],
                          "code": "H112",
                          "message": "İzin tarihi (consentDate) bulunamadı."
                        }
                      ]
                    }
                  },
                  "OneConsentRequestInvalidType": {
                    "value": {
                      "errors": [
                        {
                          "code": "H117",
                          "location": [
                            "type"
                          ],
                          "value": "EPOSTAa",
                          "message": "İzin tipi (type) için uygun değerler: ARAMA, MESAJ, EPOSTA"
                        }
                      ]
                    }
                  },
                  "OneConsentRequestInvalidSource": {
                    "value": {
                      "errors": [
                        {
                          "code": "H119",
                          "location": [
                            "source"
                          ],
                          "value": "HS_FIZIKSEL_OTAM",
                          "message": "İzin kaynağı (source) için uygun değerler: HS_FIZIKSEL_ORTAM, HS_ISLAK_IMZA, HS_WEB, HS_CAGRI_MERKEZI, HS_SOSYAL_MEDYA, HS_EPOSTA, HS_MESAJ, HS_MOBIL, HS_EORTAM, HS_ETKINLIK, HS_2015, HS_ATM, HS_KARAR"
                        }
                      ]
                    }
                  },
                  "OneConsentRequestInvalidEmail": {
                    "value": {
                      "errors": [
                        {
                          "location": [
                            "recipient"
                          ],
                          "value": "ornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornek@mail.com",
                          "code": "H120",
                          "message": "Alıcı (recipient) kabul edilemedi. Geçerli bir eposta adresi giriniz."
                        }
                      ]
                    }
                  },
                  "OneConsentRequestInvalidPhoneNumber": {
                    "value": {
                      "errors": [
                        {
                          "location": [
                            "recipient"
                          ],
                          "value": "9055436100000000",
                          "code": "H160",
                          "message": "Alıcı için telefon numaraları 15 karakterden uzun olmamalıdır."
                        },
                        {
                          "location": [
                            "recipient"
                          ],
                          "value": "9055436100000000",
                          "code": "H121",
                          "message": "Alıcı (recipient) için E164 uluslararası([+][country code][area code][local phone number]) formatına uygun bir telefon numarası girilmelidir. (örn. +905992000000)"
                        }
                      ]
                    }
                  },
                  "OneConsentRequestInvalidStatus": {
                    "value": {
                      "errors": [
                        {
                          "code": "H115",
                          "location": [
                            "status"
                          ],
                          "value": "ONAYY",
                          "message": "Durum (status) için uygun değerler: ONAY, RET"
                        }
                      ]
                    }
                  },
                  "OneConsentRequestInvalidConsentDate": {
                    "value": {
                      "errors": [
                        {
                          "code": "H157",
                          "location": [
                            "consentDate"
                          ],
                          "message": "Geçerli bir tarih girilmelidir.",
                          "value": "2020-15-01 13:35:00"
                        }
                      ]
                    }
                  },
                  "OneConsentRequestInvalidConsentDate2": {
                    "value": {
                      "errors": [
                        {
                          "code": "H156",
                          "location": [
                            "consentDate"
                          ],
                          "message": "İzinler için 1 Mayıs 2015’den önceki tarihler kabul edilmemektedir.",
                          "value": "2015-04-30 23:59:00"
                        }
                      ]
                    }
                  },
                  "OneConsentRequestInvalidConsentDate3": {
                    "value": {
                      "errors": [
                        {
                          "code": "H155",
                          "location": [
                            "consentDate"
                          ],
                          "message": "İzin kaynağı “1 Mayıs 2015 öncesi” olan izinler için, izin tarihi sadece 2015-05-01 00:00:00 olabilir.",
                          "value": "2020-04-30 23:59:00"
                        }
                      ]
                    }
                  },
                  "OneConsentRequestUnacceptableProperty": {
                    "value": {
                      "errors": [
                        {
                          "code": "H118",
                          "location": [
                            "unacceptableProperty"
                          ],
                          "value": "unacceptableValue",
                          "message": "kabul edilemedi. İstek gövdesinde bulunabilecek değerler: recipientType, retailerAccess, recipient, retailerCode, source, type, consentDate, status olmalıdır."
                        }
                      ]
                    }
                  },
                  "OneConsentRequestInvalidRecipientType": {
                    "value": {
                      "errors": [
                        {
                          "code": "H116",
                          "location": [
                            "recipientType"
                          ],
                          "value": "TACIRR",
                          "message": "Alıcı tipi (recipientType) için uygun değerler: BIREYSEL, TACIR"
                        }
                      ]
                    }
                  },
                  "OneConsentTurkishCharsProblem": {
                    "value": {
                      "errors": [
                        {
                          "location": [
                            "recipient"
                          ],
                          "value": "örnek@mail.com",
                          "code": "H120",
                          "message": "Alıcı (recipient) kabul edilemedi. Geçerli bir eposta adresi giriniz."
                        }
                      ]
                    }
                  },
                  "HS_KARAR_statusError": {
                    "value": {
                      "errors": [
                        {
                          "code": "H408",
                          "location": [
                            "status"
                          ],
                          "value": "ONAY",
                          "message": "HS_KARAR kaynağından iletilen izinler için durum bilgisi RET olmalıdır."
                        }
                      ]
                    }
                  },
                  "threeDay": {
                    "value": {
                      "errors": [
                        {
                          "code": "H467",
                          "location": [
                            "consentDate"
                          ],
                          "message": "Üç iş günü öncesinde alınan izinler kaydedilemez.",
                          "value": "2020-01-13 13:35:13"
                        }
                      ]
                    }
                  },
                  "insufficientConsentLimit": {
                    "value": {
                      "errors": [
                        {
                          "message": "Kullanılan izin sayısı maksimum sayıya ulaştığı için yeni izin eklenememektedir.",
                          "code": "H525"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Maksimum istek sayısı aşıldı.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCodeWithMessage"
                },
                "examples": {
                  "requestLimitExceeded": {
                    "value": {
                      "errors": [
                        {
                          "code": "H124",
                          "message": "Saniyede kabul edilen istek limitine ulaşıldı. Lütfen daha sonra tekrar deneyiniz."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCodeWithMessage"
                },
                "examples": {
                  "ServerSearchFailure": {
                    "value": {
                      "errors": [
                        {
                          "code": "H103",
                          "message": "Sunucuda arama yapılamadı."
                        }
                      ]
                    }
                  },
                  "ServerSaveFailure": {
                    "value": {
                      "errors": [
                        {
                          "code": "H101",
                          "message": "Sunucuya esas veri kaydedilemedi."
                        }
                      ]
                    }
                  },
                  "unexpectedError": {
                    "value": {
                      "errors": [
                        {
                          "code": "H470",
                          "message": "Beklenmedik bir hata oluştu."
                        }
                      ]
                    }
                  },
                  "unexpectedError2": {
                    "value": {
                      "errors": [
                        {
                          "code": "H476",
                          "message": "Beklenmedik bir hata oluştu."
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "IYSAPISecurity": []
          }
        ],
        "servers": [
          {
            "url": "https://api.sandbox.iys.org.tr/",
            "description": "Sandbox Server"
          }
        ]
      }
    },
    "/v2/sps/{iysCode}/brands/{brandCode}/consents": {
      "post": {
        "tags": [
          "İZİN YÖNETİMİ"
        ],
        "summary": "Tekil İzin Ekleme V2",
        "description": "Alıcıdan alınan tek **bir** izni kaydeder. Çoklu kayıt işlemleri için [Asenkron Çoklu İzin Ekleme](#operation/addBatchConsent) metodu kullanılmalıdır.\r\n\r\n**Önemli Not:**\r\n\r\n`Tekil İzin Ekleme` işleminden farklı olarak, daha önce gönderilmiş bir isteğin hem gövdesi hem de parametre değerleri hiçbir değişiklik yapılmaksızın yeniden gönderilmesi durumunda, sistem aynı transactionId değerini döndürür.  \r\n\r\nTelefon numarası +905XXXXXXXXX formatında olmalıdır. Yanlış formatta (+9005XXXXXXXXX) eklenen numaralar:\r\n\r\nİYS Vatandaş uygulamasında görüntülenmez.\r\n\r\nAracı hizmet sağlayıcı sorgulama yaparken doğru formatta (+905XXXXXXXXX) kontrol ettiğinden, izin kaydı bulunamaz ve sms gönderimi yapılamaz.\r\n\r\n Telefon numarası eklenirken formatın +905XXXXXXXXX şeklinde olduğundan emin olunmalıdır.",
        "operationId": "addConsentV2",
        "parameters": [
          {
            "name": "iysCode",
            "in": "path",
            "description": "Hizmet sağlayıcıya özel, İYS tarafından tekil olarak atanan İYS numarası bilgisidir.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "brandCode",
            "in": "path",
            "description": "Hizmet sağlayıcının markasına özel, İYS tarafından tekil olarak atanan İYS numarası bilgisidir.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Consent"
              },
              "examples": {
                "AddOneConsentRequest": {
                  "value": {
                    "consentDate": "2020-07-08 07:07:07",
                    "source": "HS_CAGRI_MERKEZI",
                    "recipient": "ornekeposta@ornekeposta.com",
                    "recipientType": "BIREYSEL",
                    "status": "ONAY",
                    "type": "EPOSTA",
                    "retailerCode": 55550127,
                    "retailerAccess": [
                      58795354,
                      30143398
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "İzin ekleme işlemi başarılı.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddConsentResponseMessage"
                },
                "examples": {
                  "AddSingleConsentResponse": {
                    "value": {
                      "transactionId": "162cc155429fdccd7f2be8e9482aa322993ff210c2923fb84e8ed0fb1902ae21",
                      "creationDate": "2020-08-06 15:50:23"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "İzin ekleme için yapılan istek hatalı.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCodeWithMessage"
                },
                "examples": {
                  "unknownError": {
                    "value": {
                      "errors": [
                        {
                          "code": "H085",
                          "message": "İzin ekleme isteği geçerli olmalıdır."
                        }
                      ]
                    }
                  },
                  "retailerCodeEmpty": {
                    "value": {
                      "errors": [
                        {
                          "message": "retailerCode değeri boş string olmamalıdır!",
                          "code": "H267"
                        }
                      ]
                    }
                  },
                  "initialConsentRetErrorAddOneConsentRequest": {
                    "value": {
                      "errors": [
                        {
                          "code": "H175",
                          "message": "İlk defa kaydedilen bir iznin durum (status) bilgisi RET olmamalıdır."
                        }
                      ]
                    }
                  },
                  "retOverrideErrorAddOneConsentRequest": {
                    "value": {
                      "errors": [
                        {
                          "code": "H174",
                          "message": "İzin durumu (status) güncellemesi için farklı bir durum girilmelidir. İzin durumu: RET"
                        }
                      ]
                    }
                  },
                  "wrongConsentDate": {
                    "value": {
                      "errors": [
                        {
                          "code": "H178",
                          "message": "Sistemdeki iznin tarihinden önceki tarihli izinlerle güncelleme yapılamaz."
                        }
                      ]
                    }
                  },
                  "secondUpdateTACIRsourceRequirement": {
                    "value": {
                      "errors": [
                        {
                          "code": "H463",
                          "message": "TACIR izinleri güncellenirken izin kaynağı (source) verilmelidir."
                        }
                      ]
                    }
                  },
                  "secondUpdateTACIRconsentDateRequirement": {
                    "value": {
                      "errors": [
                        {
                          "code": "H462",
                          "message": "TACIR izinleri güncellenirken izin tarihi (consentDate) verilmelidir."
                        }
                      ]
                    }
                  },
                  "threeDay": {
                    "value": {
                      "errors": [
                        {
                          "code": "H467",
                          "message": "Üç iş günü öncesinde alınan izinler kaydedilemez."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Eksik veya geçersiz jeton.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedException"
                },
                "examples": {
                  "missingToken": {
                    "value": {
                      "errors": [
                        {
                          "message": "Eksik veya geçersiz jeton!",
                          "code": "H351"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Yetkilendirme dışı erişim isteği",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IysCodeNotMatch"
                },
                "examples": {
                  "iysCodeNotMatched": {
                    "value": {
                      "errors": [
                        {
                          "code:": "H353",
                          "message": "iysCode, kullanıcı izinleriyle eşleştiriliemiyor"
                        }
                      ]
                    }
                  },
                  "brandCodeNotMatched": {
                    "value": {
                      "errors": [
                        {
                          "code:": "H353",
                          "message": "brandCode, kullanıcı izinleriyle eşleştiriliemiyor"
                        }
                      ]
                    }
                  },
                  "retailerCodeNotMatched": {
                    "value": {
                      "errors": [
                        {
                          "code:": "H353",
                          "message": "retailerCode, kullanıcı izinleriyle eşleştiriliemiyor"
                        }
                      ]
                    }
                  },
                  "retailerCodeNotFound": {
                    "value": {
                      "errors": [
                        {
                          "code": "H180",
                          "message": "retailerCode kullanıcı üzerinde bulunamadı.",
                          "location": [
                            "retailerAccess",
                            0
                          ],
                          "value": 12786531
                        }
                      ]
                    }
                  },
                  "subscriptionStatusClosed": {
                    "value": {
                      "errors": [
                        {
                          "message": "Abonelik durumu CLOSED iken api kullanılamamaktadır.",
                          "code": "H521"
                        }
                      ]
                    }
                  },
                  "subscriptionNotFound": {
                    "value": {
                      "errors": [
                        {
                          "message": "{{iysCode}} için ait abonelik kaydı bulunamadı.",
                          "code": "H524"
                        }
                      ]
                    }
                  },
                  "subscriptionStatusPausedOrExpired": {
                    "value": {
                      "errors": [
                        {
                          "message": "Abonelik durumu {{PAUSED|EXPIRED}} iken sadece {{HS|Entegratör}} abonelik sorgulama servisine istek atılabilir.",
                          "code": "H520"
                        }
                      ]
                    }
                  },
                  "packageControl": {
                    "value": {
                      "errors": [
                        {
                          "message": "Aboneliğiniz API kullanımını içermemektedir.",
                          "code": "H586"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Hatalı izin ekleme isteği.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentError"
                },
                "examples": {
                  "OneConsentRequestMissingType": {
                    "value": {
                      "errors": [
                        {
                          "location": [
                            "type"
                          ],
                          "code": "H111",
                          "message": "İzin tipi (type) bulunamadı."
                        }
                      ]
                    }
                  },
                  "OneConsentRequestMissingSource": {
                    "value": {
                      "errors": [
                        {
                          "location": [
                            "source"
                          ],
                          "code": "H113",
                          "message": "İzin kaynağı (source) bulunamadı."
                        }
                      ]
                    }
                  },
                  "OneConsentRequestMissingRecipient": {
                    "value": {
                      "errors": [
                        {
                          "location": [
                            "recipient"
                          ],
                          "code": "H114",
                          "message": "Alıcı (recipient) bulunamadı."
                        }
                      ]
                    }
                  },
                  "OneConsentRequestMissingStatus": {
                    "value": {
                      "errors": [
                        {
                          "location": [
                            "status"
                          ],
                          "code": "H110",
                          "message": "Durum (status) bulunamadı."
                        }
                      ]
                    }
                  },
                  "OneConsentRequestMissingConsentDate": {
                    "value": {
                      "errors": [
                        {
                          "location": [
                            "consentDate"
                          ],
                          "code": "H112",
                          "message": "İzin tarihi (consentDate) bulunamadı."
                        }
                      ]
                    }
                  },
                  "OneConsentRequestInvalidType": {
                    "value": {
                      "errors": [
                        {
                          "code": "H117",
                          "location": [
                            "type"
                          ],
                          "value": "EPOSTAa",
                          "message": "İzin tipi (type) için uygun değerler: ARAMA, MESAJ, EPOSTA"
                        }
                      ]
                    }
                  },
                  "OneConsentRequestInvalidSource": {
                    "value": {
                      "errors": [
                        {
                          "code": "H119",
                          "location": [
                            "source"
                          ],
                          "value": "HS_FIZIKSEL_OTAM",
                          "message": "İzin kaynağı (source) için uygun değerler: HS_FIZIKSEL_ORTAM, HS_ISLAK_IMZA, HS_WEB, HS_CAGRI_MERKEZI, HS_SOSYAL_MEDYA, HS_EPOSTA, HS_MESAJ, HS_MOBIL, HS_EORTAM, HS_ETKINLIK, HS_2015, HS_ATM, HS_KARAR"
                        }
                      ]
                    }
                  },
                  "OneConsentRequestInvalidEmail": {
                    "value": {
                      "errors": [
                        {
                          "location": [
                            "recipient"
                          ],
                          "value": "ornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornek@mail.com",
                          "code": "H120",
                          "message": "Alıcı (recipient) kabul edilemedi. Geçerli bir eposta adresi giriniz."
                        }
                      ]
                    }
                  },
                  "OneConsentRequestInvalidPhoneNumber": {
                    "value": {
                      "errors": [
                        {
                          "location": [
                            "recipient"
                          ],
                          "value": "9055436100000000",
                          "code": "H160",
                          "message": "Alıcı için telefon numaraları 15 karakterden uzun olmamalıdır."
                        },
                        {
                          "location": [
                            "recipient"
                          ],
                          "value": "9055436100000000",
                          "code": "H121",
                          "message": "Alıcı (recipient) için E164 uluslararası([+][country code][area code][local phone number]) formatına uygun bir telefon numarası girilmelidir. (örn. +905992000000)"
                        }
                      ]
                    }
                  },
                  "OneConsentRequestInvalidStatus": {
                    "value": {
                      "errors": [
                        {
                          "code": "H115",
                          "location": [
                            "status"
                          ],
                          "value": "ONAYY",
                          "message": "Durum (status) için uygun değerler: ONAY, RET"
                        }
                      ]
                    }
                  },
                  "OneConsentRequestInvalidConsentDate": {
                    "value": {
                      "errors": [
                        {
                          "code": "H157",
                          "location": [
                            "consentDate"
                          ],
                          "message": "Geçerli bir tarih girilmelidir.",
                          "value": "2020-15-01 13:35:00"
                        }
                      ]
                    }
                  },
                  "OneConsentRequestInvalidConsentDate2": {
                    "value": {
                      "errors": [
                        {
                          "code": "H156",
                          "location": [
                            "consentDate"
                          ],
                          "message": "İzinler için 1 Mayıs 2015’den önceki tarihler kabul edilmemektedir.",
                          "value": "2015-04-30 23:59:00"
                        }
                      ]
                    }
                  },
                  "OneConsentRequestInvalidConsentDate3": {
                    "value": {
                      "errors": [
                        {
                          "code": "H155",
                          "location": [
                            "consentDate"
                          ],
                          "message": "İzin kaynağı “1 Mayıs 2015 öncesi” olan izinler için, izin tarihi sadece 2015-05-01 00:00:00 olabilir.",
                          "value": "2020-04-30 23:59:00"
                        }
                      ]
                    }
                  },
                  "OneConsentRequestUnacceptableProperty": {
                    "value": {
                      "errors": [
                        {
                          "code": "H118",
                          "location": [
                            "unacceptableProperty"
                          ],
                          "value": "unacceptableValue",
                          "message": "kabul edilemedi. İstek gövdesinde bulunabilecek değerler: recipientType, retailerAccess, recipient, retailerCode, source, type, consentDate, status olmalıdır."
                        }
                      ]
                    }
                  },
                  "OneConsentRequestInvalidRecipientType": {
                    "value": {
                      "errors": [
                        {
                          "code": "H116",
                          "location": [
                            "recipientType"
                          ],
                          "value": "TACIRR",
                          "message": "Alıcı tipi (recipientType) için uygun değerler: BIREYSEL, TACIR"
                        }
                      ]
                    }
                  },
                  "OneConsentTurkishCharsProblem": {
                    "value": {
                      "errors": [
                        {
                          "location": [
                            "recipient"
                          ],
                          "value": "örnek@mail.com",
                          "code": "H120",
                          "message": "Alıcı (recipient) kabul edilemedi. Geçerli bir eposta adresi giriniz."
                        }
                      ]
                    }
                  },
                  "HS_KARAR_statusError": {
                    "value": {
                      "errors": [
                        {
                          "code": "H408",
                          "location": [
                            "status"
                          ],
                          "value": "ONAY",
                          "message": "HS_KARAR kaynağından iletilen izinler için durum bilgisi RET olmalıdır."
                        }
                      ]
                    }
                  },
                  "threeDay": {
                    "value": {
                      "errors": [
                        {
                          "code": "H467",
                          "location": [
                            "consentDate"
                          ],
                          "message": "Üç iş günü öncesinde alınan izinler kaydedilemez.",
                          "value": "2020-01-13 13:35:13"
                        }
                      ]
                    }
                  },
                  "insufficientConsentLimit": {
                    "value": {
                      "errors": [
                        {
                          "message": "Kullanılan izin sayısı maksimum sayıya ulaştığı için yeni izin eklenememektedir.",
                          "code": "H525"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Maksimum istek sayısı aşıldı.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCodeWithMessage"
                },
                "examples": {
                  "requestLimitExceeded": {
                    "value": {
                      "errors": [
                        {
                          "code": "H124",
                          "message": "Saniyede kabul edilen istek limitine ulaşıldı. Lütfen daha sonra tekrar deneyiniz."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCodeWithMessage"
                },
                "examples": {
                  "ServerSearchFailure": {
                    "value": {
                      "errors": [
                        {
                          "code": "H103",
                          "message": "Sunucuda arama yapılamadı."
                        }
                      ]
                    }
                  },
                  "ServerSaveFailure": {
                    "value": {
                      "errors": [
                        {
                          "code": "H101",
                          "message": "Sunucuya esas veri kaydedilemedi."
                        }
                      ]
                    }
                  },
                  "unexpectedError": {
                    "value": {
                      "errors": [
                        {
                          "code": "H470",
                          "message": "Beklenmedik bir hata oluştu."
                        }
                      ]
                    }
                  },
                  "unexpectedError2": {
                    "value": {
                      "errors": [
                        {
                          "code": "H476",
                          "message": "Beklenmedik bir hata oluştu."
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "IYSAPISecurity": []
          }
        ],
        "servers": [
          {
            "url": "https://api.sandbox.iys.org.tr/",
            "description": "Sandbox Server"
          }
        ]
      }
    },
    "/sps/{iysCode}/brands/{brandCode}/consents/request": {
      "post": {
        "tags": [
          "İZİN YÖNETİMİ"
        ],
        "summary": "Asenkron Çoklu İzin Ekleme",
        "description": "Alıcıdan alınan izinleri kaydeder. Kabul edilebilecek izin sayısı 1000'dir.\n\nAynı iletişim adresi (`recipient`) için farklı izin durumları (`status`) aynı listede olacak şekilde istek gönderilmemelidir. İYS izin veritabanı, asenkron çoklu izin ekleme metoduyla gönderilen izinleri işlerken yazma kuyruğunda bir iletişim adresi için sadece bir tane izin hareketi kaydedecek şekilde tasarlanmıştır.\n\n`Önemli Not:`\n\nTelefon numarası +905XXXXXXXXX formatında olmalıdır. Yanlış formatta (+9005XXXXXXXXX) eklenen numaralar:\n\nİYS Vatandaş uygulamasında görüntülenmez.\n\nAracı hizmet sağlayıcı sorgulama yaparken doğru formatta (+905XXXXXXXXX) kontrol ettiğinden, izin kaydı bulunamaz ve sms gönderimi yapılamaz.\n\nTelefon numarası eklenirken formatın +905XXXXXXXXX şeklinde olduğundan emin olunmalıdır.\n\n `Önemli Not:` \n\n***Bir iletişim adresi ve izin türü için aynı saniyede gönderilen birden fazla izin hareketi,  aynı transactionid değerini üretmektedir ve mutabakat dosyasında birden fazla kayıt olarak aynı transactionid değeri ile yer almaktadır. Dolayısıyla bir iletişim adresi ve izin türü için peş peşe iki farklı izin hareketi gönderilmemelidir.***\n\nÖrneğin; BIREYSEL türünde ornek@mail.com iletişim adresi için aynı saniye içinde gönderilen iki farklı onay-ret isteği için:\n\ncreationDate,transactionId,recipient,recipientType,type,status,consentDate,source\n\n2024-04-19 23:58:53,***f26ab94c7d855113d57ea0c328d9b8b56d09b344aeff4142eb13cbf661b64e89***,ornek@mail.com,BIREYSEL,EPOSTA,ONAY,2017-06-28 19:39:28,HS_FIZIKSEL_ORTAM\n\n2024-04-19 23:58:53,***f26ab94c7d855113d57ea0c328d9b8b56d09b344aeff4142eb13cbf661b64e89***,ornek@mail.com,BIREYSEL,EPOSTA,RET,2017-06-28 19:39:29,HS_FIZIKSEL_ORTAM\n\nAynı iletişim adresine ait birden fazla izin hareketi [Tekil İzin Ekleme](#operation/addConsent) metodu kullanılarak iletilmelidir.\n\nMetot cevabında yer alan `requestId` değeriyle eklenen izinlerin durumu [Çoklu İzin Ekleme İsteği Sorgulama](#operation/searchRequestDetails) metodunda sorgulanabilir. Sorgulama işlemi minimum 300 saniye sonra yapılmalıdır.\n\n`requestId` değeri liste halinde çoklu olarak isteği gönderilen izinlerin işleme alındığına ilişkin kaydı taşıyan veridir. Metot cevabında bu değerin dönülmesi izinlerinin eklenme işleminin tamamlandığını ifade etmeyip listenin başarıyla işleme alındığını göstermektedir.",
        "operationId": "addBatchConsent",
        "parameters": [
          {
            "name": "iysCode",
            "in": "path",
            "description": "Hizmet sağlayıcıya özel, İYS tarafından tekil olarak atanan İYS numarası bilgisidir.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "brandCode",
            "in": "path",
            "description": "Hizmet sağlayıcının markasına özel, İYS tarafından tekil olarak atanan İYS numarası bilgisidir.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Consent"
                }
              },
              "examples": {
                "AddMultipleConsent": {
                  "value": [
                    {
                      "type": "EPOSTA",
                      "source": "HS_WEB",
                      "recipient": "ornek@adiniz6.com",
                      "status": "ONAY",
                      "consentDate": "2018-02-10 09:40:00",
                      "recipientType": "BIREYSEL",
                      "retailerAccess": [
                        66438915,
                        71007289
                      ]
                    },
                    {
                      "type": "EPOSTA",
                      "source": "HS_WEB",
                      "recipient": "ornek@adiniz7.com",
                      "status": "ONAY",
                      "consentDate": "2019-02-10 09:50:00",
                      "recipientType": "TACIR",
                      "retailerAccess": [
                        66438915,
                        71007289
                      ]
                    },
                    {
                      "type": "MESAJ",
                      "source": "HS_MESAJ",
                      "recipient": "+905311333449",
                      "status": "ONAY",
                      "consentDate": "2020-02-10 09:55:00",
                      "recipientType": "BIREYSEL",
                      "retailerCode": 66438915,
                      "retailerAccess": [
                        66438915,
                        71007289
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "İşlem Başarılı.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddMultipleConsentResponse"
                },
                "examples": {
                  "AddMultipleConsentResponse": {
                    "value": {
                      "requestId": "5980a44b06f333c25b1ah61bkceb95fa",
                      "subRequests": [
                        {
                          "type": "EPOSTA",
                          "source": "HS_WEB",
                          "recipient": "ornek@adiniz6.com",
                          "status": "ONAY",
                          "consentDate": "2018-02-10 09:40:00",
                          "recipientType": "BIREYSEL",
                          "subRequestId": "3e141ad8-cdd5-49f2-a4b9-28ed76bc9677",
                          "creationDate": "2020-08-21 14:45:24"
                        },
                        {
                          "type": "EPOSTA",
                          "source": "HS_WEB",
                          "recipient": "ornek@adiniz7.com",
                          "status": "ONAY",
                          "consentDate": "2019-02-10 09:50:00",
                          "recipientType": "TACIR",
                          "subRequestId": "fb27ddd0-d670-4599-ab05-59204381d87b",
                          "creationDate": "2020-08-21 14:45:24"
                        },
                        {
                          "type": "MESAJ",
                          "source": "HS_MESAJ",
                          "recipient": "+905311333449",
                          "status": "ONAY",
                          "consentDate": "2020-02-10 09:55:00",
                          "recipientType": "BIREYSEL",
                          "subRequestId": "ddd44a69-513d-49d2-a483-717b6c44c734",
                          "creationDate": "2020-08-21 14:45:24"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "İzin ekleme için yapılan istek hatalı.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorsArrayCode"
                },
                "examples": {
                  "retailerCodeNotFound": {
                    "value": {
                      "errors": [
                        {
                          "message": "retailerCode değeri istek üzerinde bulunamadı.",
                          "code": "H266"
                        }
                      ]
                    }
                  },
                  "jsonException": {
                    "value": {
                      "errors": [
                        {
                          "message": "Gönderilen istek json formatına uygun değil!",
                          "code": "H014"
                        }
                      ]
                    }
                  },
                  "invalidRequest": {
                    "value": {
                      "errors": [
                        {
                          "code": "H092",
                          "message": "Çoklu izin ekleme isteği geçerli olmalıdır."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Eksik veya geçersiz jeton.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedException"
                },
                "examples": {
                  "missingToken": {
                    "value": {
                      "errors": [
                        {
                          "message": "Eksik veya geçersiz jeton!",
                          "code": "H351"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Yetkilendirme dışı erişim isteği.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IysCodeNotMatch"
                },
                "examples": {
                  "iysCodeNotMatched": {
                    "value": {
                      "errors": [
                        {
                          "code:": "H353",
                          "message": "iysCode, kullanıcı izinleriyle eşleştiriliemiyor"
                        }
                      ]
                    }
                  },
                  "brandCodeNotMatched": {
                    "value": {
                      "errors": [
                        {
                          "code:": "H353",
                          "message": "brandCode, kullanıcı izinleriyle eşleştiriliemiyor"
                        }
                      ]
                    }
                  },
                  "retailerCodeNotFound": {
                    "value": {
                      "errors": [
                        {
                          "code": "H180",
                          "message": "İstek gövdesinde yer alan bayi İYS numarasıyla (retailerCode) herhangi bir bayi bulunamadı.",
                          "index": 0,
                          "location": [
                            "retailerCode"
                          ],
                          "value": 12786531
                        }
                      ]
                    }
                  },
                  "retailerCodeNotFound2": {
                    "value": {
                      "errors": [
                        {
                          "code": "H180",
                          "index": 0,
                          "message": "İstek gövdesinde yer alan bayi İYS numarasıyla (retailerCode) herhangi bir bayi bulunamadı.",
                          "location": [
                            "retailerAccess",
                            0
                          ],
                          "value": 73064462
                        }
                      ]
                    }
                  },
                  "subscriptionStatusClosed": {
                    "value": {
                      "errors": [
                        {
                          "message": "Abonelik durumu CLOSED iken api kullanılamamaktadır.",
                          "code": "H521"
                        }
                      ]
                    }
                  },
                  "subscriptionNotFound": {
                    "value": {
                      "errors": [
                        {
                          "message": "{{iysCode}} için ait abonelik kaydı bulunamadı.",
                          "code": "H524"
                        }
                      ]
                    }
                  },
                  "packageControl": {
                    "value": {
                      "errors": [
                        {
                          "message": "Aboneliğiniz API kullanımını içermemektedir.",
                          "code": "H586"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Hatalı izin ekleme isteği.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentError"
                },
                "examples": {
                  "missingType": {
                    "value": {
                      "errors": [
                        {
                          "index": 0,
                          "location": [
                            "type"
                          ],
                          "code": "H111",
                          "message": "İzin tipi (type) bulunamadı."
                        }
                      ]
                    }
                  },
                  "longRequest": {
                    "value": {
                      "errors": [
                        {
                          "code": "H091",
                          "message": "İzin ekleme sayısı en fazla {{BATCH_CONSENT_COUNT}}  olmalıdır."
                        }
                      ]
                    }
                  },
                  "missingSource": {
                    "value": {
                      "errors": [
                        {
                          "index": 1,
                          "location": [
                            "source"
                          ],
                          "code": "H113",
                          "message": "İzin kaynağı (source) bulunamadı."
                        }
                      ]
                    }
                  },
                  "AsynchronousMultipleConsentMissingType": {
                    "value": {
                      "errors": [
                        {
                          "index": 0,
                          "location": [
                            "type"
                          ],
                          "code": "H111",
                          "message": "İzin tipi (type) bulunamadı."
                        }
                      ]
                    }
                  },
                  "AsynchronousMultipleConsentMissingSource": {
                    "value": {
                      "errors": [
                        {
                          "index": 1,
                          "location": [
                            "source"
                          ],
                          "code": "H113",
                          "message": "İzin kaynağı (source) bulunamadı."
                        }
                      ]
                    }
                  },
                  "AsynchronousMultipleConsentMissingRecipient": {
                    "value": {
                      "errors": [
                        {
                          "index": 1,
                          "location": [
                            "recipient"
                          ],
                          "code": "H114",
                          "message": "Alıcı (recipient) bulunamadı."
                        }
                      ]
                    }
                  },
                  "AsynchronousMultipleConsentInvalidType": {
                    "value": {
                      "errors": [
                        {
                          "index": 0,
                          "code": "H117",
                          "location": [
                            "type"
                          ],
                          "value": "EPOSTAA",
                          "message": "İzin tipi (type) için uygun değerler: ARAMA, MESAJ, EPOSTA"
                        }
                      ]
                    }
                  },
                  "AsynchronousMultipleConsentInvalidSource": {
                    "value": {
                      "errors": [
                        {
                          "index": 0,
                          "code": "H119",
                          "location": [
                            "source"
                          ],
                          "value": "HS_201",
                          "message": "İzin kaynağı (source) kabul edilemedi. İzin verilen değerler: HS_FIZIKSEL_ORTAM, HS_ISLAK_IMZA, HS_WEB, HS_CAGRI_MERKEZI, HS_SOSYAL_MEDYA, HS_EPOSTA, HS_MESAJ, HS_MOBIL, HS_EORTAM, HS_ETKINLIK, HS_2015, HS_ATM, HS_KARAR"
                        }
                      ]
                    }
                  },
                  "AsynchronousMultipleConsentInvalidStatus": {
                    "value": {
                      "errors": [
                        {
                          "index": 0,
                          "code": "H115",
                          "location": [
                            "status"
                          ],
                          "value": "RETT",
                          "message": "Durum (status) için uygun değerler: ONAY, RET"
                        }
                      ]
                    }
                  },
                  "AsynchronousMultipleConsentInvalidRecipientType": {
                    "value": {
                      "errors": [
                        {
                          "index": 0,
                          "code": "H116",
                          "location": [
                            "recipientType"
                          ],
                          "value": "BIREYSL",
                          "message": "Alıcı tipi (recipientType) için uygun değerler: BIREYSEL, TACIR"
                        }
                      ]
                    }
                  },
                  "AsynchronousMultipleConsentInvalidConsentDates": {
                    "value": {
                      "errors": [
                        {
                          "index": 0,
                          "code": "H162",
                          "location": [
                            "consentDate"
                          ],
                          "message": "Mevcut tarih ve saatten ileri bir tarih ve saat girilmemelidir.",
                          "value": "2042-02-10 09:30:00"
                        },
                        {
                          "index": 1,
                          "code": "H157",
                          "location": [
                            "consentDate"
                          ],
                          "message": "Geçerli bir tarih girilmelidir.",
                          "value": "2020-15-10 09:30:00"
                        },
                        {
                          "index": 2,
                          "code": "H156",
                          "location": [
                            "consentDate"
                          ],
                          "message": "İzinler için 1 Mayıs 2015’den önceki tarihler kabul edilmemektedir.",
                          "value": "2015-02-10 09:30:00"
                        },
                        {
                          "index": 2,
                          "code": "H155",
                          "location": [
                            "consentDate"
                          ],
                          "message": "İzin kaynağı “1 Mayıs 2015 öncesi” olan izinler için, izin tarihi sadece 2015-05-01 00:00:00 olabilir.",
                          "value": "2015-02-10 09:30:00"
                        },
                        {
                          "index": 3,
                          "code": "H156",
                          "location": [
                            "consentDate"
                          ],
                          "message": "İzinler için 1 Mayıs 2015’den önceki tarihler kabul edilmemektedir.",
                          "value": "2014-02-10 09:30:00"
                        }
                      ]
                    }
                  },
                  "AsynchronousMultipleConsentInvalidRecipients": {
                    "value": {
                      "errors": [
                        {
                          "index": 0,
                          "location": [
                            "recipient"
                          ],
                          "value": "ornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekorne kornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornek@adiniz.com",
                          "code": "H120",
                          "message": "Alıcı (recipient) kabul edilemedi. Geçerli bir eposta adresi giriniz."
                        }
                      ]
                    }
                  },
                  "missingRecipient": {
                    "value": {
                      "errors": [
                        {
                          "index": 1,
                          "location": [
                            "recipient"
                          ],
                          "code": "H114",
                          "message": "Alıcı (recipient) bulunamadı."
                        }
                      ]
                    }
                  },
                  "invalidType": {
                    "value": {
                      "errors": [
                        {
                          "index": 0,
                          "code": "H117",
                          "location": [
                            "type"
                          ],
                          "value": "EPOSTAA",
                          "message": "İzin tipi (type) için uygun değerler: ARAMA, MESAJ, EPOSTA"
                        }
                      ]
                    }
                  },
                  "invalidSource": {
                    "value": {
                      "errors": [
                        {
                          "index": 0,
                          "code": "H119",
                          "location": [
                            "source"
                          ],
                          "value": "HS_201",
                          "message": "İzin kaynağı (source) için uygun değerler: HS_FIZIKSEL_ORTAM, HS_ISLAK_IMZA, HS_WEB, HS_CAGRI_MERKEZI, HS_SOSYAL_MEDYA, HS_EPOSTA, HS_MESAJ, HS_MOBIL, HS_EORTAM, HS_ETKINLIK, HS_2015, HS_ATM, HS_KARAR"
                        }
                      ]
                    }
                  },
                  "invalidStatus": {
                    "value": {
                      "errors": [
                        {
                          "index": 0,
                          "code": "H115",
                          "location": [
                            "status"
                          ],
                          "value": "RETT",
                          "message": "Durum (status) için uygun değerler: ONAY, RET"
                        }
                      ]
                    }
                  },
                  "invalidRecipientType": {
                    "value": {
                      "errors": [
                        {
                          "index": 0,
                          "code": "H116",
                          "location": [
                            "recipientType"
                          ],
                          "value": "BIREYSL",
                          "message": "Alıcı tipi (recipientType) için uygun değerler: BIREYSEL, TACIR"
                        }
                      ]
                    }
                  },
                  "invalidConsentDates": {
                    "value": {
                      "errors": [
                        {
                          "index": 0,
                          "code": "H162",
                          "location": [
                            "consentDate"
                          ],
                          "message": "Mevcut tarih ve saatten ileri bir tarih ve saat girilmemelidir.",
                          "value": "2042-02-10 09:30:00"
                        },
                        {
                          "index": 1,
                          "code": "H157",
                          "location": [
                            "consentDate"
                          ],
                          "message": "Geçerli bir tarih girilmelidir.",
                          "value": "2020-15-10 09:30:00"
                        },
                        {
                          "index": 2,
                          "code": "H156",
                          "location": [
                            "consentDate"
                          ],
                          "message": "İzinler için 1 Mayıs 2015’den önceki tarihler kabul edilmemektedir.",
                          "value": "2015-02-10 09:30:00"
                        },
                        {
                          "index": 2,
                          "code": "H155",
                          "location": [
                            "consentDate"
                          ],
                          "message": "İzin kaynağı “1 Mayıs 2015 öncesi” olan izinler için, izin tarihi sadece 2015-05-01 00:00:00 olabilir.",
                          "value": "2015-02-10 09:30:00"
                        },
                        {
                          "index": 3,
                          "code": "H156",
                          "location": [
                            "consentDate"
                          ],
                          "message": "İzinler için 1 Mayıs 2015’den önceki tarihler kabul edilmemektedir.",
                          "value": "2014-02-10 09:30:00"
                        }
                      ]
                    }
                  },
                  "invalidRecipients": {
                    "value": {
                      "errors": [
                        {
                          "index": 0,
                          "location": [
                            "recipient"
                          ],
                          "value": "ornekadiniz.com",
                          "code": "H120",
                          "message": "Alıcı (recipient) kabul edilemedi. Geçerli bir eposta adresi giriniz."
                        },
                        {
                          "index": 1,
                          "location": [
                            "recipient"
                          ],
                          "value": "ornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornekornek@adiniz.com",
                          "code": "H120",
                          "message": "Alıcı (recipient) kabul edilemedi. Geçerli bir eposta adresi giriniz."
                        },
                        {
                          "index": 2,
                          "location": [
                            "recipient"
                          ],
                          "value": "905313334455999999999999",
                          "code": "H160",
                          "message": "Alıcı için telefon numaraları 15 karakterden uzun olmamalıdır."
                        },
                        {
                          "index": 2,
                          "location": [
                            "recipient"
                          ],
                          "value": "905313334455999999999999",
                          "code": "H121",
                          "message": "Alıcı (recipient) için E164 uluslararası([+][country code][area code][local phone number]) formatına uygun bir telefon numarası girilmelidir. (örn. +905992000000)"
                        }
                      ]
                    }
                  },
                  "emptyRetailerAccess": {
                    "value": {
                      "errors": [
                        {
                          "index": 0,
                          "location": [
                            "retailerAccess"
                          ],
                          "value": [],
                          "code": "H163",
                          "message": "İzin erişimi olan bayilerin (retailer) listesi boş olmamalıdır."
                        }
                      ]
                    }
                  },
                  "longRetailerAccess": {
                    "value": {
                      "errors": [
                        {
                          "index": 0,
                          "location": [
                            "retailerAccess"
                          ],
                          "value": [
                            0,
                            1,
                            2,
                            3,
                            4,
                            5,
                            6,
                            7,
                            8,
                            9,
                            10,
                            11,
                            12,
                            13,
                            14,
                            15,
                            16,
                            17,
                            18,
                            19,
                            20,
                            21,
                            22,
                            23,
                            24,
                            25,
                            26,
                            27,
                            28,
                            29,
                            30,
                            31,
                            32,
                            33,
                            34,
                            35,
                            36,
                            37,
                            38,
                            39,
                            40,
                            41,
                            42,
                            43,
                            44,
                            45,
                            46,
                            47,
                            48,
                            49,
                            50,
                            51,
                            52,
                            53,
[...]
